In [1]:
import pandas as pd
from sklearn import datasets
import numpy as np

iris_data = datasets.load_iris() 
iris_df = pd.DataFrame(data=np.c_[iris_data['data'], iris_data['target']], columns=iris_data['feature_names'] + ['target'])
iris_df

iris_df["target"] = iris_df.target.astype("int")
iris_df = iris_df[iris_df.target.isin([0, 1])]
iris_df.columns

#We now take out 50% of the petal length entries by chance and assign NaN values with a bit of numpy.
random_vec = np.random.random(iris_df["petal length (cm)"].size) < 0.5
iris_df["petal length (cm)"] = iris_df["petal length (cm)"].where(random_vec, other=np.nan)

iris_df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,NaN,0.2,0
1,4.9,3.0,NaN,0.2,0
2,4.7,3.2,NaN,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,NaN,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,NaN,0.1,0